@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}


/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.text-light-gray {
    color: #727272;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
}



/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-image-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.tams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* features section style */
.features {
    display: flex;
    margin-top: 130px;
    gap: 80px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.feature-img img {
    /* height: 90%; */
    width: 708px;
    height: 982px;
    margin-left: 50px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

/* tams-content section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;

}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors section */
.sponsor {
    text-align: center;
    margin-top: 180px;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;

}

/* footer */
.ft-content {
    width: 1390px;
    height: 100px;
    margin: auto;
}

.ftp {
    padding: 38px 410px;
    border-radius: 8px;
    background: #FFF4E7;


}

/* responsibe mobile devices */
@media screen and (max-width: 576px) {

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    header {
        padding: 20px;
    }

    .feature-img img {
        width: 90%;
        margin-left: 0;
    }

    .ten-years-badge {
        position: static;
        max-width: 300px;
    }

    .teams-image-conteiner {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;

    }

    .facts-card-container {
        gap: 20px;
    }

    .ft-content {
        width: 90%;
        height: 100px;
        margin: auto;

    }

    .ftp {
        padding: 18px 35px;
        text-align: center;
    }

}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width:960px) {

    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .feature-img img {
        width: 90%;

    }

    .facts-card-container {

        gap: 10px;
    }

    .ft-content {
        width: 85%;
        height: 100px;
        margin: auto;

    }

    .ftp {
        padding: 20px 25px;
        text-align: center;
    }
}